<md-toolbar color="primary" id="feet">
  <p class="copyright">&copy; Jennifer Currie 2017  </p>

  <p id="socialMedia">
    <a href="http://www.freecodecamp.com/renestl" target='_blank' role='button' class=''><i class='fa fa-fire'></i></a>
    <a href="https://github.com/Renestl" target='_blank' role='button' class=''><i class='fa fa-github'></i></a>
    <a href="http://codepen.io/renestl/" target='_blank' role='button' class=''><i class='fa fa-codepen'></i></a>
    <a href="https://linkedin.com/pub/jennifer-currie-mba-rhia/5/975/5a8" target='_blank' role='button' class=''><i class='fa fa-linkedin'></i></a>
  </p>

  <p>Favicon by <a href="https://github.com/Kornil" target='_blank' role='button' class=''><i class='fa fa-github'></i>Kornil</a> </p>
</md-toolbar>