md-toolbar div {
	width: 100%;
}
md-toolbar div h1 {
	text-align: center;
}

img {
	max-width: 100px;
}

ol li{
	display: block;
}
md-input-container {
	display: block;
}

button {
	background-color: paleturquoise;
}
.danger {
	background-color: red;
}