  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Camper Name</th>
            <th><a (click)="onRecent()">Points in past 30 days</a></th>
            <th><a (click)="onAll()">All time points</a></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camper of campers">
            <td> <img src="{{ camper.img }}" alt="camper {{camper.username}} avatar"> {{ camper.username }} </td>
            <td> {{ camper.recent }} </td>
            <td> {{ camper.alltime }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>